.ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  flex-wrap: wrap;
}

.ul li a {
  color: green;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
}

.ul li:hover a {
  color: yellow !important;
  background: green;
}
